* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
 
 body {
  background-image: url(https://wallpapercave.com/wp/wp4385736.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
 }
  

  .header {
       display: flex;
       justify-content: space-between;
       align-items: center;
       height: 70px;
       background: linear-gradient(to top, #99ccff 0%, #ffffff 30%);
       
       position: fixed;
       right: 0;
       left: 0;
  }
  
  .icon-1 {
     margin-left: 3px;
     border-style: solid;
     border-color: black;
     color: black;
     font-weight: bolder;
     border-width: 2px; 
     box-shadow: -3px 3px 5px;
     margin-right: 2px;
    }
  
  
  .title {
    color: black;
    border: solid;
    box-shadow: inset 3px 3px 5px;

  }

  .icon-2 {
     margin-right: 3px;
     border-style: solid;
     border-color: black;
     border-width: 2px;
     box-shadow: 3px 3px 5px;
     margin-left: 2px;
  }

  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 70px; 
    width: 90px;
    background-color: white;
    display: flex;
    flex-direction: column;
    background-image: url(https://media.giphy.com/media/l41lJhesj2pt2Guxq/giphy.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    margin-top: -3px;
  }

  .sidebar-2 {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 70px; 
    width: 90px;
    background-image: url(https://media.giphy.com/media/l41lJhesj2pt2Guxq/giphy.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-style: italic;
    font-size: 10.15px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    margin-top: -3px;
    color: white;
  }

  .message {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gif {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  
  img {
    width: 135px;
    margin-left: 10px;
    border-radius: 600px;
    border-style: solid;
  }
  
  p {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .gif-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    border-color: white;
    padding-bottom: 10px;
  }

  .picture-2 {
    width: 60px;
    margin-top: 10px;
    border-style: solid;
    border-color: white;
  }

  .picture-2:hover {
    border-style: solid;
    border-color: white;
    filter: blur(100px);
  }


  
  .p-1 {
    color: white;
    border-style: solid;
    border-width: 1px;
  }

  details {
    background-image: url(https://media.giphy.com/media/l41lJhesj2pt2Guxq/giphy.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  summary {
    color: white;
  }


   
  .a-1 {
    color: white;
  }
  
  .gif-2 {
    margin-top: 5px;
  }

  .button-1 {
    margin-right: 4px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    font-weight: bolder;
    box-shadow: 3px 3px 5px;
  }

  .button-2 {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    font-weight: bolder;
    box-shadow: 3px 3px 5px;
  }

   .a-2 {
     color: black;
   }

   .gif-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   }

   .picture-3 {
     width: 200px;
   }

   .p-4 {
     font-size: larger;
     border: solid;
     margin-bottom: 5px;
     background-image: url(https://media.giphy.com/media/l41lJhesj2pt2Guxq/giphy.gif);
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     background-repeat: no-repeat;
     color: white;
     border-width: 1px;
   }
   
   .gif-4 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   }